<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303003992783-2qlvbe066iuspsfr32bipqnrgrppte3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303003992783-2qlvbe066iuspsfr32bipqnrgrppte3q</string>
	<key>API_KEY</key>
	<string>AIzaSyD3pYg4Azlramf8Jutxu45YO-NERj3Cwos</string>
	<key>GCM_SENDER_ID</key>
	<string>303003992783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.savinghome.savinghomeWebview</string>
	<key>PROJECT_ID</key>
	<string>saving-home-8dfe9</string>
	<key>STORAGE_BUCKET</key>
	<string>saving-home-8dfe9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303003992783:ios:2027d0a66f1a9cbce2adba</string>
</dict>
</plist>